<style type="text/css">

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	background-color: #e6e6e6;
}

a:link, a:visited {
	color: #2C6579;
	text-decoration: none;
}

a:hover {
	color: #394C52;
	text-decoration:underline;
}

td {
	font-size:12px;
}

.adminTitle {
	font-weight: bold;
	font-size: 42px;
	color: #444;
	margin-left: 10px;
	padding: 0px 0px 6px 0px;
	line-height: 40px;
	letter-spacing: -2px;
}

.adminNavHolder {
	text-align: center;
	font-size: 15px;
	color: #00529B;
	border: 1px solid;
	margin: auto;
	width: 960px;
	padding: 15px, 10px, 15px, 10px;
	background-color: #BDE5F8;
	overflow: auto;
}

.adminNavItem {
	text-align: center;
	height: 1.5em;              
	float: left;
	width: 100px;
	margin: auto;
	padding: 4px;
}

.adminNavItem:hover {
	background-color: #BFEFFF;
}

.AdminInfo, .AdminSuccess, .AdminWarning, .AdminError, .AdminValidation {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 900px;
	border: 1px solid;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.AdminInfo {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/templates/icons/Info.png');
}
.AdminSuccess {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('/templates/icons/Add.png');
}
.AdminWarning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('/templates/icons/Attention.png');
}
.AdminError {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('/templates/icons/Cancel.png');
}

.AdminCategoryListContainer {
	color: #9F6000;
	background-color: #FEEFB3;
	margin-top: 10px;
	border: 1px solid;
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

.AdminCategoryListHeader {
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	background-color: #FEEFB3;
	padding: 4px;
	width: auto;
	height: 1.5em;
	margin-bottom: 4px
}

.AdminCategoryListRow {
	color: #9F6000;
	background-color: #FFFFFF;
	font-size: 12px;
	margin: 2px;
	border: 1px solid;
	height: 2em;
}

.AdminCategoryListRow:hover {
	color: #00529B;
	background-color: #BDE5F8;
	border: 1px solid;
	cursor: pointer;
}

.AdminCategoryListItemURL {
	padding: 4px;
	float: left;
	width: 10em;
	color: #444;
}

.AdminCategoryListItemCategory {
	padding: 4px;
	float: left;
	width: 15em;
	color: #444;
}

.AdminCategoryListItemDescription {
	padding: 4px;
	float: left;
	width: 40em;
	color: #444;
}

.AdminCategoryListItemIcon {
	float: left;
	width: 22px;
	height: 1.5em;
	vertical-align: top;
}

.AdminCategoryRemoveIcon {
	background-image: url('/templates/icons/Remove Red.png');
	background-size:18px;
	background-repeat:no-repeat;
	padding-left:22px;
	height: 1.5em;
	vertical-align: top;
	float:left;
}

.AdminCategoryEditIcon {
	background-image: url('/templates/icons/Snapforward.png');
	background-size:18px;
	background-repeat:no-repeat;
	padding-left:22px;
	height: 1.5em;
	vertical-align: top;
	float:left;
}

.AdminCategorySearchIcon {
	background-image: url('/templates/icons/Search.png');
	background-size: 18px;
	background-repeat: no-repeat;
	padding-left: 22px;
	height: 1.5em;
	vertical-align:top;
	float: left;
}

.AdminCategoryListingAddContainer {
	color: #4F8A10;
	background-color: #DFF2BF;
	margin-top: 10px;
	border: 1px solid;
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

.AdminCategoryListingAddHeader {
	background-image:url('/templates/icons/Add.png');
	background-repeat: no-repeat;
	background-position: 10px top;
	padding: 10px 0px 10px 0px;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 0px 0px 45px;
	width: auto;
	height: 1.5em;
	margin-bottom: 8px;
	margin-top: 4px;
}

.AdminCategoryListingAddItem {
	color: #4F8A10;
	font-weight: bold;
	font-size: 13px;
	margin: 2px;
	float: left;
	padding-left: 45px;
	text-align: right;
}

.AdminCategoryListingAddValue {
	color: #4F8A10;
	background-color: #FFFFFF;
	font-size: 12px;
	margin: 2px;
	border: 0px solid;
	height: 2em;
	float: left;
}

.AdminCategoryListingAddSubmit {
	height: 2em;
	margin: 2px;
	padding-left: 4em;
	float: left;
}

.AdminCategoryListingEditItem {
	width: 9em;
	color: #9F6000;
	font-weight: bold;
	font-size: 12px;
	margin: 2px;
	float: left;
	padding-left: 45px;
	text-align: right;
}

.AdminCategoryListingEditHeader {
	background-image:url('/templates/icons/Valid Blue.png');
	background-repeat: no-repeat;
	background-position: 10px top;
	padding: 10px 0px 10px 0px;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 0px 0px 45px;
	width: auto;
	height: 1.5em;
	margin-bottom: 8px;
	margin-top: 4px;
}

.metricsOverviewBlock {
	width: 960px;
	margin: auto;
}

.metricsBlock {
	color: #00529B;
	background-color: #BDE5F8;
	border: 1px solid;
	width: 300px;
	float: left;
	margin: 8px;
}

.metricsHeader {
	text-align:center;
	font-weight: bold;
	font-size: 13px;
	color: #444;
	background-color: #FEEFB3;
	padding: 4px;
	width: auto;
}

.metricsDomain {
	padding: 4px;
	font-size: 12px;
	height: 2em;
	color: #444;
	float: left;
	width: 150px;
}

.metricsLabel {
	padding: 4px;
	font-size: 12px;
	color: #444;
	float: left;
	width: 40px;
}

.metricsValue {
	padding: 4px 0px 0px 0px;
	font-size: 12px;
	color: #444;
	width: 20px;
	float: right;
}

.clear {
	clear: both;
}

</style>
