<style type="text/css">

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

td {
	font-size:12px;
}

.adminTitle {
	font-weight: bold;
	color: #444;
	margin-left: 10px;
	padding: 0px 0px 6px 0px;
	font-size: 42px;
	line-height: 40px;
	letter-spacing: -2px;
	font-weight: bold;
}

.adminNavHolder {
	font-size:15px;
  color: #00529B;
  border: 1px solid;
	margin: 10px;
	padding: 15px, 10px, 15px, 50px;
  background-color: #BDE5F8;
  overflow: auto;
}

.adminNavItem {
  text-align:center;
  height: 1.5em;              
  float: left;
	margin: 0.5em;
}

.AdminInfo, .AdminSuccess, .AdminWarning, .AdminError, .AdminValidation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.AdminInfo {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/templates/icons/Info.png');
}
.AdminSuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/templates/icons/Add.png');
}
.AdminWarning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/templates/icons/Attention.png');
}
.AdminError {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/templates/icons/Cancel.png');
}

/******  This is the Table Content Editing stuff *******/
.fixHeader {
	width: 420px;
	table-layout:fixed;
	vertical-align: top; 
	padding: 10px; 
	border-spacing: 0px; 
	border-collapse:collapse;
	border-width:0px;
}
.shortColumnHead {
	background:#A5A5A5;
	border: 1px solid #A5A5A5;
	padding-left:3px;
	width:60px;
}
.mainColumnHead {
	background:#CCCCCC;
	border: 1px solid #A5A5A5;
	padding-left:3px;
	width:150px;
}
.extraColumnHead {
	background:#A5A5A5;
	border: 1px solid #A5A5A5;
	padding-left:3px;
	width:200px;
}
.shortColumnData {
	width:60px; 
	overflow:hidden;
	padding:3px;
}
.mainColumnData {
	width:150px; 
	overflow:hidden; 
	padding:5px;
	padding-left:3px;
}
.extraColumnData{
	width: 200px;
	overflow: hidden;
	padding: 5px;
	padding-left: 3px;
}
.scrollableContentOuter {
	overflow: auto;overflow-x:hidden;height: 400px; width: 420px; border: 1px solid #A5A5A5;
}
.scrollableContentInner {
	width: 402; 
	table-layout:fixed;
}
/******* End Script Flow ORdering stuff ********/

</style>
